@font-face {
  font-family: Vazir;
  font-weight: bold;
  src: url("./assets/fonts/Vazir-Bold-FD-WOL.eot") format("eot"), 
  url("./assets/fonts/Vazir-Bold-FD-WOL.ttf") format("ttf"), 
  url("./assets/fonts/Vazir-Bold-FD-WOL.woff") format("woff"), 
  url("./assets/fonts/Vazir-Bold-FD-WOL.woff2") format("woff2");
}
@font-face {
  font-family: Vazir;
  font-weight: normal;
  src: url("./assets/fonts/Vazir-FD-WOL.eot") format("eot"), 
  url("./assets/fonts/Vazir-FD-WOL.ttf") format("ttf"), 
  url("./assets/fonts/Vazir-FD-WOL.woff") format("woff"), 
  url("./assets/fonts/Vazir-FD-WOL.woff2") format("woff2");
}
@font-face {
  font-family: Vazir;
  font-weight:200;
  src: url("./assets/fonts/Vazir-Thin-FD-WOL.eot") format("eot"), 
  url("./assets/fonts/Vazir-Thin-FD-WOL.ttf") format("ttf"), 
  url("./assets/fonts/Vazir-Thin-FD-WOL.woff") format("woff"), 
  url("./assets/fonts/Vazir-Thin-FD-WOL.woff2") format("woff2");
}
*, *::after, *::before {
  font-family: Vazir;
  font-weight: bold;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  list-style: none;
  text-decoration: none;
}